<div class="nav">
  <div class="nav-header">
    <div class="nav-title" [routerLink]="['']">
      <h3 class="gelasio-500">Blangular</h3>
      <h5>A Self Directed Magazine</h5>
    </div>
  </div>
  <div class="nav-links">
    <a [routerLink]="['']" >Articles</a>
    <a href="https://www.youtube.com/watch?v=BpvRW2oOJB0"> Video</a>
    <a href="https://www.instagram.com/jam_robb_/"> Instagram</a>
    <a href="https://www.newyorker.com/puzzles-and-games-dept/crossword"> Crossword</a>
  </div>
</div>
