<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <h3><a href="">Blangular - A Self Directed Magazine</a></h3>
    </div>
  </div>
  <div class="nav-links">
    <a href="" target="_blank">Articles</a>
    <a href="https://www.youtube.com/watch?v=BpvRW2oOJB0"> Video</a>
    <a href="https://www.instagram.com/jam_robb_/"> Instagram</a>
    <a href="https://www.newyorker.com/puzzles-and-games-dept/crossword"> Crossword</a>
  </div>
</div>
