:host{
  display: flex;
  background-color: rgb(255, 255, 255);
  color: black;
  justify-content: center;
  width: 4em;
  padding: 0em;
  margin-right: 0.25em;
  border-radius: 0.2em;
  border: black solid 0.15em;
}

p{
  margin: 0.2em;
  padding: 0;
}
