:host{
  display: flex;
  color: black;
  justify-content: center;
  width: fit-content;
  padding: 0em;
  margin-right: 0.25em;
  border: black solid 2px;
}

:host:hover{
  background-color: rgb(177, 0, 0);
}

:host:hover a{
  color:white;
}

p{
  margin: 0.2em;
  padding: 0;
  text-transform: uppercase;
  font-style: italic;
}

a{
  text-decoration: none;
  color: black;
}
