<h4><a [routerLink]="['/article', postSkeleton!.id]" >{{postSkeleton!.title}}</a> </h4>
<div class="thumb-container">
  <div class="image-container">
    <img src="https://picsum.photos/700/" alt="">
  </div>
  <div class="body-container">
    <div class="text-container">
      <p>{{postSkeleton!.body.substr(0,300)}}...</p>
      <p>{{postSkeleton!.date}}</p>
    </div>
    <div class="tag-container">
      <app-tag *ngFor="let tag of postSkeleton!.tags" [tag]="tag"></app-tag>
    </div>
  </div>
</div>



